{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container w-50 m-auto py-5">
        <h2 class="text-center border-bottom">Bravo !</h2>
        <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        <a class="btn btn-block btn-outline-primary my-5" href="{{ path('mon_profil') }}"><i class="fas fa-user-circle mr-2"></i>Voir mon profil</a>
        {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>


    </div>

    {% endif %}
{% endblock fos_user_content %}
