{% trans_default_domain 'FOSUserBundle' %}
<div class="container bg w-50 p-5 m-auto">
    <h2 class="text-center border-bottom">Inscription</h2>

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" id="_submit" name="_submit" class="btn btn-color" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}

</div>
{% block stylesheets %}
    <style>
        .bg{
            background:  rgba(254,254,254, 0.8);
            box-shadow: 4px 2px 5px #D6CFC7;
        }
    </style>
{% endblock %}