<section class="footer text-center content-section  py-5 bg-dark " id="contact">
    <div class="container text-light">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Footer</h2>
                <p>Feel free to leave us a comment on the<a href="#"> Grayscale template overview page</a> to give some feedback about this theme!</p>
                <div class="row d-flex justify-content-center">
                    <li class="list-inline-item col-md-3 col-sm-12 p-2"><button class="btn btn-color btn-lg btn-default" type="button"><i class="fa fa-google-plus fa-fw"></i><span class="network-name">  Google+</span></button></li>
                    <li class="list-inline-item col-md-3 col-sm-12 p-2"><button class="btn btn-color btn-lg btn-default" type="button"><i class="fa fa-twitter fa-fw"></i><span class="network-name"> Twitter</span></button></li>
                    <li class="list-inline-item col-md-3 col-sm-12 p-2"><button class="btn btn-color btn-lg btn-default" type="button"><i class="fa fa-github fa-fw"></i><span class="network-name"> github</span></button></li>

                </div>

            </div>
        </div>
    </div>
</section>